body {
  font-family: 'Papyrus', sans-serif;
  font-size: 1.2em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar Styles */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #f1f1f1;
}

.nav-item {
  margin: 1em;
}

.logo:nth-child(1) {
  margin-right: auto;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
}

.welcome-image {
  width: 100%;
  height: auto;
  position: relative;
}

.title-text-container {
  position: absolute;
  top: 30%;
  left: 10%;
}

.title-text {
  font-style: papayrus;
  font-size: 3em;
}

/* Index page styles */

.auctions-title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 3em;
  font-weight: 750;
  background-color: #fdf7ea;
  margin-bottom: 0.5em;
}
.auction-index-container {
  padding: 1em 2em 2em 2em;
}

.index-title {
  font-size: 1.15em;
  color: #7aa3e3;
  margin: 0.3em;
}

.index-time {
  margin: 0.3em;
  margin-bottom: 1em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3em;
}

.flex-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.sign-in-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-in-input {
  width: 250px;
  height: 1.8em;
  border-radius: 3px;
}

.sign-in-btn {
  width: 250px;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
}

/* Show Page Styles */

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.5em;
}

.show-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.show-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h2 {
  padding: 0;
  margin: 0;
}

.previous-bids {
  text-decoration: underline;
  margin-top: 0.5em;
}

.bids {
  margin: 0.4em;
}

.sign-out-btn {
  background-color: #000;
  color: #fff;
  font-size: 1.1em;
  margin-left: 0.5em;
}

.content-right {
  margin-bottom: 0.5em;
}

.bid-form {
  width: 100%;
  padding: 0.3em;
}

.bid-form > input[type='text'] {
  width: 70%;
  margin-right: 0.2em;
  height: 1.4em;
}

.bid-form > input[type='submit'] {
  width: 20%;
  margin-right: 0.2em;
  height: 1.8em;
  background-color: #000;
  color: #fff;
}

.new-auction-input {
  display: flex;
  justify-content: center;
  padding: 0.4em;
}

.new-auction-input > label {
  margin-right: 1em;
  display: inline-block;
  width: 140px;
  text-align: right;
}

.new-auction-input > input[type='text'] {
  width: 250px;
}
